<div class="bg">
<app-navbar></app-navbar>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="./profile.png" style="block-size: 10em;" > </div>
                                <!-- <h6 class="f-w-600">Hembo Tingor</h6>
                                <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i> -->
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block" >
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="font-size: 20px;">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">Name</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{patientDetails.name.firstname}} {{patientDetails.name.lastname}}</h6>
                                    </div>
                                <!-- </div>
                                <div class="row"> -->
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">Gender</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{patientDetails.gender}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">Email</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{patientDetails.email}}</h6>
                                    </div>
                                <!-- </div>
                                <div class="row"> -->
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">Phone</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{patientDetails.contactNumber}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">Date Of Birth</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{date}} / {{month}} / {{year}}</h6>
                                    </div>
                                <!-- </div>
                                <div class="row"> -->
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">City</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{patientDetails.city}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">Address</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{patientDetails.address}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600" style="font-size: 16px;">Patient ID</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 16px;">{{patientDetails.pId}}</h6>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-warning" (click)="onEditOption()" style="width: 150px; height: 50px;">Edit</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-success" (click)="onAddCase()" style="width: 150px; height: 50px;">Add Case</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>