<div class="ttmp">
<app-navbar></app-navbar>
<br>
<br>
<br>
        <div class="login-html1">
    <!-- <div class="login-wrap"> -->
            <!-- <div class="ttl">
                <label  class="label">ADD FOLLOW-UP</label>
            </div> -->
            <div class="login-form1">
                <form action="#" name="follow"method="POST" id="one" onsubmit="return validateform()">
                <!-- <div class="sign-in-htm"> -->
                    <div class="group1">
                        <label  class="label">Patient ID</label>
                        <input id="pid" type="text" class="input" placeholder="Patient ID">
                    </div>
                    <div class="group1">
                        <label class="label">Priscription</label>
                        <textarea id="priscription" class="input" rows="5" cols="50"></textarea>
                    </div>
                    <div class="group1">
                        <label class="label">Note</label>
                        <textarea id="note" class="input" rows="5" cols="50"></textarea>
                    </div>
                    <div class="group1">
                        <label  class="label">Next Appointment</label>
                        <input id="nextappointment" type="date" class="input">
                    </div>
                    <div class="group1">
                        <button type="submit" form="one" class="button" value="add">Add</button>   
                    </div>  
                <!-- </div>  -->
            </form>
            </div>
        </div>
    </div>