<div class="ttmp">
<app-navbar></app-navbar>
<br>
<br>
<br>
        <div class="login-html1">
    <!-- <div class="login-wrap"> -->
            <div class="login-form1">
                <form action="#" method="POST" id="one">
                <!-- <div class="sign-in-htm"> -->
                    <div class="group1">
                        <label  class="label">Name</label>
                        <input id="name" type="text" class="input" placeholder="Name">
                    </div>
                    <div class="group1">
                        <label class="label">Disease Discription</label>
                        <textarea id="discription" rows="5" cols="50" class="input" ></textarea> 
                    </div>
                    <div class="group1">
                        <label class="label">Number of Days for Leave</label>
                        <input id="days" type="text" class="input" >
                    </div>
                    <div class="group1">
                        <button type="submit" form="one" class="button" value="add">Add</button>   
                    </div>  
                <!-- </div>  -->
            </form>
            </div>
        <!-- </div> -->
    </div>